a:hover {
  text-decoration: none;
}

.jumbotron {
  /*background:linear-gradient(50deg, rgba(2, 80, 104, 0.3)30%, rgba(0, 50, 63, 0.8)70%);*/
  background-color: rgba(170, 182, 48, 0.5);
}

.cabecera-con-imagen {
  background: url(../images/bg-home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
}

.carousel-caption {
  /*background:linear-gradient(50deg, rgba(2, 80, 104, 0.3)30%, rgba(0, 50, 63, 0.8)70%);*/
  background-color: rgba(191, 0, 14, 0.5);
}

.card-productos {
  flex: 1 150px;
  margin-right: 15px;
  margin-bottom: 15px;
}

footer {
  /*background:linear-gradient(50deg, rgba(0, 16, 20, 0.9)30%, rgba(0, 8, 10, 0.9)70%);*/
  background-color: #957a05;
  margin-top: 30px;
  /*padding-top:30px;
  padding-bottom:30px;*/
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}

footer a {
  color: white;
  text-decoration: underline;
}

.footer-col {
  padding-top: 25px;
}

/*# sourceMappingURL=styles.css.map */
